.jumbotron {
  padding-top: 6rem;
  background-color: #e4949b;
}

#about {
  background-color: #f3f4f5;
}

#skills {
  background-color: #e4949b;
}
#skills {
  background-color: #e4949b;
}

#contact {
  background-color: #f3f4f5;
  height: 700px;
}

section {
  padding-top: 5rem;
}
