body {
  background-color: beige;
}
.jumbotron {
  background-color: beige;
}

#about {
  background-color: beige;
}

#skills {
  background-color: beige;
  height: 1000px;
}

section {
  padding-top: 5rem;
}

.card-text {
  text-align: center;
  color: white;
}

.card {
  background-color: beige;
}

.card-body {
  background-color: #9e6b4a;
}
